@import "@radix-ui/themes/styles.css";
@import "react-loading-skeleton/dist/skeleton.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Shadcn */
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --white: #fff;
    --black: #000;
    --gray-050: #fafafa;
    --gray-4: #ebebeb;
    --slate-5: #e1e1e1;
    --gray-300: #c1c1c1;
    --gray-400: #a1a1a1;
    --slate-10: #818181;
    --gray-600: #616161;
    --gray-700: #414141;
    --gray-800: #2b2b2b;
    --gray-850: #1a1a1a;
    --gray-900: #111;
    --red-050: snow;
    --red-100: #ffe5e9;
    --red-200: #fbbfc7;
    --red-300: #ff909f;
    --red-400: #ff7082;
    --red-500: #ff455d;
    --red-600: #d92038;
    --red-700: #c11027;
    --red-800: #8f0718;
    --red-900: #341418;
    --red-950: #200a0d;
    --orange-050: #fff8f3;
    --orange-100: #ffe8d8;
    --orange-200: #ffc59b;
    --orange-300: #fc9c66;
    --orange-400: #fd812d;
    --orange-500: #f35815;
    --orange-600: #b83a05;
    --orange-700: #962d00;
    --orange-800: #672002;
    --orange-900: #3c1403;
    --orange-950: #240b00;
    --yellow-050: #fffbe4;
    --yellow-100: #fff1a8;
    --yellow-200: #fed54a;
    --yellow-300: #f2b600;
    --yellow-400: #d19f03;
    --yellow-500: #a78103;
    --yellow-600: #7d5903;
    --yellow-700: #5c4716;
    --yellow-800: #41320c;
    --yellow-900: #281e03;
    --yellow-950: #171101;
    --green-050: #effff3;
    --green-100: #d7fbdf;
    --green-200: #a9ecb8;
    --green-300: #75db8c;
    --green-400: #40d763;
    --green-500: #27b648;
    --green-600: #13862e;
    --green-700: #19652a;
    --green-800: #10481d;
    --green-900: #0a2b13;
    --green-950: #041a0a;
    --blue-050: #f3fbff;
    --blue-100: #ddf2ff;
    --blue-200: #a9dffe;
    --blue-300: #73c7f9;
    --blue-400: #47b7f8;
    --blue-500: #1e9de7;
    --blue-600: #0b6ec5;
    --blue-700: #144eb6;
    --blue-800: #0e3682;
    --blue-900: #08204e;
    --blue-950: #04122e;
    --purple-050: #f9f8ff;
    --purple-100: #eeeaff;
    --purple-200: #d4c9fe;
    --purple-300: #b7a5fb;
    --purple-400: #a18bf5;
    --purple-500: #8467f3;
    --purple-600: #5e49af;
    --purple-700: #4b3990;
    --purple-800: #3e1f75;
    --purple-900: #27124a;
    --purple-950: #180636;
    --text-light: var(--gray-050);
    --text-dark: var(--gray-850);
    --text-light-secondary: var(--gray-600);
    --text-dark-secondary: var(--gray-400);
    --bg-primary: var(--white);
    --bg-secondary: var(--gray-050);
    --bg-green: var(--green-600);
    --bg-green-light: var(--green-050);
    --bg-purple: var(--purple-400);
    --bg-purple-secondary: var(--purple-300);
    --bg-purple-tertiary: var(--purple-200);
    --border-primary: var(--gray-4);
    --border-secondary: var(--slate-5);
    --border-green: var(--green-600);
    --border-green-light: var(--green-200);
    --text-primary: var(--gray-850);
    --text-secondary: var(--gray-600);
    --text-blue: var(--blue-600);
    --text-blue-dark: var(--blue-700);
    --text-green: var(--green-600);
    --text-orange: var(--orange-600);
    --text-red: var(--red-600);
    --text-red-disabled: var(--red-300);
    --text-purple: var(--purple-600);
    --graph-border: var(--slate-5);
    --graph-blue-fill: var(--blue-100);
    --graph-blue-light: var(--blue-300);
    --graph-blue-dark: var(--blue-600);
    --graph-green-fill: var(--green-100);
    --graph-green-light: var(--green-300);
    --graph-green-dark: var(--green-600);
    --graph-red-fill: var(--red-100);
    --graph-red-light: var(--red-300);
    --graph-red-dark: var(--red-600);
    --graph-purple-fill: var(--purple-100);
    --graph-purple-light: var(--purple-300);
    --graph-purple-dark: var(--purple-600);
    --graph-gray-fill: var(--gray-4);
    --graph-gray-dark: var(--gray-400);
    --trackline-gradient-stop-1: var(--white);
    --trackline-gradient-stop-2: var(--gray-4);
    --trackline-gradient-stop-3: var(--purple-400);
    --icon-secondary-opacity: 0.5;
    --icon-tertiary-opacity: 0.3;
    --icon-stroke-green: var(--green-600);
  }
  .theme-light {
    /* text colors */
    --color-text-primary: rgb(18 24 39);
    --color-text-secondary: rgb(156 163 175); /* text-gray-400 */
    --color-text-inverted: #fff;
    --color-text-menu: rgb(55 65 81); /* text-gray-400 */
    --color-text-menu-selected: rgb(67 73 149); /* text-gray-400 */

    /* background colors */
    --color-bg-primary: 247 248 250;
    --color-bg-primary-hover: rgb(250, 252, 253); /* Lighter color for hovers */
    --color-bg-secondary: rgb(255 255 255); /* Used for the sidebar bg color */

    /* button colors */
    --color-btn-primary: rgb(67 73 139);
    --color-btn-secondary: rgb(59 130 246 / 20%); /* bg-blue-500 */
    --color-btn-inverted: rgba(0, 0, 0, 0.01);

    /* border & ring colors */
    --color-border-primary: rgba(0, 0, 0, 0.08);
    --color-ring-primary: rgb(0 0 0 / 0.05); /* border-white/5 */
  }
  .theme-dark {
    /* text colors */
    --color-text-primary: rgb(255 255 255);
    --color-text-secondary: rgb(156 163 175); /* text-gray-400 */
    --color-text-inverted: #000;
    --color-text-menu: rgb(156 163 175); /* text-gray-400 */
    --color-text-menu-selected: rgb(255 255 255); /* text-gray-400 */
    /* bg colors */
    --color-bg-primary: rgb(17 24 39); /* bg-gray-900 */
    --color-bg-secondary: rgb(14 21 34); /* Used for the menu bg color */
    --color-bg-inverted: #fff;
    /* button colors */
    --color-btn-primary: rgb(79 70 229);
    --color-btn-secondary: rgb(59 130 246 / 20%); /* bg-blue-500 */
    --color-btn-inverted: rgb(31 41 55); /* bg-gray-800 */
    /* border & ring colors */
    --color-border-primary: rgb(255 255 255 / 0.05); /* border-white/5 */
    --color-ring-primary: rgb(255 255 255 / 0.05); /* border-white/5 */
  }
  .dark {
    /* Shadcn stylings for darkmode */
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}
