/* FONTS */
@font-face {
  font-family: "Untitled Sans";
  font-weight: 400;
  font-display: swap;
  src:
    url("/fonts/UntitledSansWeb-Regular.woff2") format("woff2"),
    url("/fonts/UntitledSansWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "Untitled Sans";
  font-weight: 500;
  font-display: swap;
  src:
    url("/fonts/UntitledSansWeb-Medium.woff2") format("woff2"),
    url("/fonts/UntitledSansWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: "Söhne Mono";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/soehne-mono-web-buch.woff2") format("woff2"),
    url("/fonts/soehne-mono-web-buch.woff") format("woff");
}

.radix-themes {
  --default-font-family: "Untitled Sans", sans-serif;
}

/* Custom Text Colors */
.dark {
  --gray-subtitle: rgba(180 188 208 / 0.85);
  --panel: 197 6.8% 13.6%;
  --color-page-background: rgb(18, 18, 18) !important;
}
.light {
  --gray-subtitle: hsla(206 6% 43.5% / 1);
  --panel: 197 6.8% 100%;
}
